<p-fieldset legend="Registro documentos habilitantes operadora">
  <div class="row justify-content-end">
    <div class="col-md-3">
      <button type="button" class="btn btn-sm btn-primary btn-block"
        (click)="openModalDocumeto(documentoTemplate)">{{cs.adjuntarDocumento}}</button>
    </div>

  </div>
  <hr>
  <p-fieldset legend="Datos del portafolio" [toggleable]="true">
    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.numeroPortafolio}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.codigoPortafolio}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaRegistro}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.funcionario}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.funcionario.nombres}} {{portafolio.funcionario.apellidos}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.pozo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.pozo.pozNombre}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.trabajo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.tipoTrabajo.tipoTrabajo}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="portafolio.fechaTrabajoSinTorre">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaTST}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaTrabajoSinTorre | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.numeroTrabajo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.numeroTrabajo}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaInicio}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaInicio | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>

    </div>
  </p-fieldset>
  <br>

  <p-fieldset legend="Documentos operadora" [toggleable]="true">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-end">
          <li><i class="fa fa-usd"> Registrar datos de pago</i></li>
          <li><i class="fa fa-list-ol"> Lista datos de pago</i></li>
        </ul>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nro. SGC</th>
              <th>Nro. Oficio</th>
              <th>Anexos</th>
              <th>Fecha oficio</th>
              <th>Fecha ARCH</th>
              <th>Asunto</th>
              <th>Objetivo</th>
              <th>Estado</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let doc of documentoOperadoraList| paginate: {id: 'foo', itemsPerPage: 10, currentPage: p }; let i=index;">

              <td>{{i+1}} </td>
              <td>{{doc.numeroSGC}} </td>
              <td>{{doc.numeroOficio}} </td>
              <td>
                <ul>
                  <li *ngIf="doc.urlOficio">{{doc.urlOficio}}</li>
                  <li *ngIf="doc.urlAnexo1">{{doc.urlAnexo1}}</li>
                  <li *ngIf="doc.urlAnexo2">{{doc.urlAnexo2}}</li>
                  <li *ngIf="doc.urlAnexo3">{{doc.urlAnexo3}}</li>
                  <li *ngIf="doc.urlAnexo4">{{doc.urlAnexo4}}</li>
                  <li *ngIf="doc.urlPagos">{{doc.urlPagos}}</li>
                </ul>
              </td>
              <td>{{doc.fechaOficio  | date:'dd/MM/yyyy'}} </td>
              <td>{{doc.fechaARCH  | date:'dd/MM/yyyy'}} </td>
              <td>{{doc.asunto.asunto}} </td>
              <td>{{doc.objetivo}} </td>
              <td>{{doc.estado}} </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="nav">
                      <li *ngIf="doc.codigoAsunto == 1 || doc.codigoAsunto == 2 || doc.codigoAsunto == 3 || doc.codigoAsunto == 4"
                        (click)="openModalPagos(pagosTemplate, doc.codigoDocumentoOperadora)"><i
                          class="fa fa-usd fa-2x"></i>
                      </li>
                      <li *ngIf="doc.codigoAsunto == 1 || doc.codigoAsunto == 2 || doc.codigoAsunto == 3 || doc.codigoAsunto == 4"
                        (click)="openModalPagosList(pagoListTemplate, doc.codigoDocumentoOperadora)"><i
                          class="fa fa-list-ol fa-2x"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row" *ngIf="documentoOperadoraList.length > 9">
      <div class="col-md-12 text-center">
        <pagination-controls id="foo" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
          responsive="true">
          ></pagination-controls>
      </div>
    </div>

  </p-fieldset>


  <ng-template #documentoTemplate>
    <div class="container mt-3 mb-3">

      <div class="row text-center">
        <div class="col-md-12">
          <h4>Documentos habilitantes operadora</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro. SGC:</b></label>
            </div>
            <div class="col-md-8">
              <input [(ngModel)]="documentoOperadora.numeroSGC" pInputText numeros-doc />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro. Oficio:</b></label>
            </div>
            <div class="col-md-8">
              <input [(ngModel)]="documentoOperadora.numeroOficio" pInputText numeros-doc />
            </div>
          </div>
        </div>
      </div>

      <!-- Anexos -->

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Nro. Oficio:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeDocNroOficio($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Adjuntar anexo 1:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeAnexo1($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Adjuntar anexo 2:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeAnexo2($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Adjuntar anexo 3:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeAnexo3($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Adjuntar anexo 4:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeAnexo4($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Doc. Pagos:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeDocPagos($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Fecha Oficio:</b></label>
            </div>
            <div class="col-md-8">
              <p-calendar [style]="{ width: '100%' }" [minDate]="minDate" [maxDate]="maxDate"
                [inputStyle]="{ width: '100%' }" [(ngModel)]="documentoOperadora.fechaOficio"
                (onSelect)="changeFechaOficio()"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Fecha ARCH:</b></label>
            </div>
            <div class="col-md-8">
              <p-calendar [style]="{ width: '100%' }" [minDate]="minDateFA" [maxDate]="maxDate"
                [inputStyle]="{ width: '100%' }" [(ngModel)]="documentoOperadora.fechaARCH"></p-calendar>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="portafolio.codigoTipoTrabajo != 1">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Categorización:</b></label>
            </div>
            <div class="col-md">
              <p-dropdown [options]="categoriaList" [(ngModel)]="categoria" [filter]="true"> </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Asunto:</b></label>
            </div>
            <div class="col-md">
              <p-dropdown [options]="asuntoList" [(ngModel)]="asunto" [filter]="true"> </p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Objetivo:</b></label>
            </div>
            <div class="col-md">
              <input [(ngModel)]="documentoOperadora.objetivo" pInputText />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-primary btn-block" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-danger btn-block"
            (click)="closeModalDocumento()">Cancelar</button>
        </div>

      </div>

    </div>
  </ng-template>


  <ng-template #pagosTemplate>
    <div class="container mt-3 mb-3">

      <div class="row text-center">
        <div class="col-md-12">
          <h4>Documentos habilitantes operadora - Pagos</h4>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Fecha pago:</b></label>
            </div>
            <div class="col-md-8">
              <p-calendar [style]="{ width: '100%' }" [minDate]="minDate" [maxDate]="maxDate"
                [inputStyle]="{ width: '100%' }" [(ngModel)]="pago.fechaPago"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Item:</b></label>
            </div>
            <div class="col-md-8">
              <input pInputText [(ngModel)]="pago.item" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Valor:</b></label>
            </div>
            <div class="col-md-8">
              <input pInputText [(ngModel)]="pago.valor" />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro.comprobante:</b></label>
            </div>
            <div class="col-md-8">
              <input pInputText [disabled]="ncomp" [(ngModel)]="pago.numeroComprobante"
                (ngModelChange)="bloquearTransferencia()" (keyup)="activarTransferencia()" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro.transferencia:</b></label>
            </div>
            <div class="col-md-8">
              <input pInputText [disabled]="ntrans" [(ngModel)]="pago.numeroTransaccion"
                (ngModelChange)="bloquearComprobante()" (keyup)="activarComprobante()" />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro. factura:</b></label>
            </div>
            <div class="col-md-8">
              <input [(ngModel)]="pago.numeroFactura" pInputText />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-primary btn-block" (click)="guardarPago()">Guardar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-danger btn-block" (click)="closeModalPagos()">Cancelar</button>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #pagoListTemplate>
    <div class="container mt-3 mb-3">

      <div class="row text-center">
        <div class="col-md-12">
          <h4>Lista de pagos</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>#</th>
                <!-- <th>Operadora</th>
                <th>Consorcio</th>
                <th>Bloque</th>
                <th>Campo</th>
                <th>Pozo</th> -->
                <th>Fecha Pago</th>
                <th>Item</th>
                <th>Nro. Comprobante</th>
                <th>Nro. Transferencia</th>
                <th>Nro. Factura</th>
                <th>Valor</th>
              </tr>
            </thead>

            <tr
              *ngFor="let pago of pagoList| paginate: {id: 'pagoList', itemsPerPage: 10, currentPage: pp }; let i=index;">
              <td>{{i+1}} </td>
              <td>{{pago.fechaPago | date:'dd/MM/yyyy'}}</td>
              <td>{{pago.item}}</td>
              <td>{{pago.numeroComprobante}}</td>
              <td>{{pago.numeroTransaccion}}</td>
              <td>{{pago.numeroFactura}}</td>
              <td>{{pago.valor}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row" *ngIf="pagoList.length > 9">
        <div class="col-md-12 text-center">
          <pagination-controls id="pagoList" (pageChange)="pp = $event" previousLabel="Anterior" nextLabel="Siguiente"
            responsive="true">
            ></pagination-controls>
        </div>
      </div>

      <div class="row mt-3 justify-content-end">
        <div class="col-md-3">
          <button type="button" class="btn btn-sm btn-danger btn-block" (click)="closeModalPagosList()">Cerrar</button>
        </div>
      </div>

    </div>

  </ng-template>





  <ng-template #customLoadingTemplate> </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>