<div class="container-fluid">
  <p-fieldset legend="Creación portafolio trabajo en pozo">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Nro Portafolio:</label>
              </div>
              <div class="col-md-8">
                <input type="text" value="001" disabled="true" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Fecha registro:</label>
              </div>
              <div class="col-md-8">
                <input type="text" value="05/05/2019" disabled="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Operadora:</label>
              </div>
              <div class="col-md-8">
                <input type="text" value="Petroamazonas" disabled="true" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Bloque:</label>
              </div>
              <div class="col-md-8">
                <input type="text" value="060" disabled="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Pozo:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Tipo pozo:</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Campo:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Consorcio:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Trabajo:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Numero:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Estado:*</label>
              </div>
              <div class="col-md-8">
                <p-dropdown id="campo"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="campo">Fecha trabajo:*</label>
              </div>
              <div class="col-md-8">
                <p-calendar [style]="{ width: '100%' }"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button
              pButton
              type="button"
              style="width: 100%;"
              label="Guardar"
              class="ui-button-success"
            ></button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <p>Ejemplo:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="../../../assets/img/example1.PNG" />
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
</div>
