<p-fieldset legend="REGISTRO REPORTE DIARIO TRABAJOS EN POZO">
  <p-fieldset legend="DATOS DEL PORTAFOLIO" [toggleable]="true">

    <div class="row ">
      <div class="col-md-12">
        <div class="row mt-2 justify-content-end">

          <div class="col-md-6 mt-1 mb-3">
            <button type="button" class="btn btn-sm btn-danger btn-block" (click)="goToBuscarPortafolio()">
              <i class="fa fa-sign-out"> Volver</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <label><b>Numero de portafolio:</b></label>
            <p>{{portafolio.codigoPortafolio}}</p>
          </div>
          <div class="col-md-4">
            <label><b>Fecha registro:</b></label>
            <p>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="col-md-4">
            <label><b>Funcionario:</b></label>
            <p>{{portafolio.funcionario.nombres}} {{portafolio.funcionario.apellidos}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label><b>{{cs.pozo}}:</b></label>
            <p>{{portafolio.pozo.pozNombre}}</p>
          </div>
          <div class="col-md-4">
            <label><b>{{cs.trabajo}}:</b></label>
            <p>{{portafolio.tipoTrabajo.tipoTrabajo}}</p>
          </div>
          <div class="col-md-4" *ngIf="portafolio.fechaTrabajoSinTorre">
            <label><b>{{cs.fechaTST}}:</b></label>
            <p>{{portafolio.fechaTrabajoSinTorre | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="portafolio.numeroTrabajo">
            <label><b>{{cs.numeroTrabajo}}:</b></label>
            <p>{{portafolio.numeroTrabajo}}</p>
          </div>
          <div class="col-md-4" *ngIf="portafolio.fechaInicio">
            <p><b>{{cs.fechaInicio}}:</b></p>
            <p>{{portafolio.fechaInicio | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="col-md-4" *ngIf="!portafolio.fechaInicio">
            <p><b>{{cs.fechaInicio}}:</b></p>
            <p-calendar [style]="{ width: '100%' }" [minDate]="minDate" [maxDate]="maxDate"
              [inputStyle]="{ width: '100%' }" [(ngModel)]="fechaInicio"></p-calendar>
          </div>
          <div class="col-md-4" *ngIf="portafolio.fechaFin">
            <p><b>{{cs.fechaFin}}:</b></p>
            <p>{{portafolio.fechaFin | date:'dd/MM/yyyy'}}</p>

          </div>
          <div class="col-md-4" *ngIf="!portafolio.fechaFin">
            <p><b>{{cs.fechaFin}}:</b></p>
            <p-calendar [style]="{ width: '100%' }" [minDate]="minDate" [maxDate]="maxDate"
              [inputStyle]="{ width: '100%' }" [(ngModel)]="fechaFin"></p-calendar>
          </div>
        </div>
      </div>
    </div>

  </p-fieldset>
  <br>
  <p-fieldset legend="Acciones del portafolio" [toggleable]="true">


    <div class="row justify-content-center mt-1">
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-info btn-block" [disabled]="bIniciar"
          (click)="iniciarOperacionesRegistroDiario()">{{cs.iniciar}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-info btn-block" (click)="openModalRegistro(registroDiarioTemplate)"
          [disabled]="bRegistroDiario">{{cs.registroDiario}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-info btn-block"
          (click)="openModalSuspencion(registroDiarioTemplate)" [disabled]="bSuspecion">{{cs.suspencion}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-info btn-block" (click)="openModalReinicio(registroDiarioTemplate)"
          [disabled]="bReinicio">{{cs.reinicio}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-info btn-block" (click)="finalizarOperacionesRegistroDiario()"
          [disabled]="bFin">{{cs.terminar}}</button>
      </div>

    </div>
  </p-fieldset>
  <br>
  <p-fieldset legend="Registros del portafolio" [toggleable]="true">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-sm">
          <thead>
            <tr class="text-center">
              <th>#</th>
              <th>{{cs.accion}}</th>
              <th>{{cs.fechaAccion}}</th>
              <th>{{cs.actividad}}</th>
              <th>{{cs.estado}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center"
              *ngFor="let reg of registroDiarioList| paginate: {id: 'foo', itemsPerPage: 10, currentPage: p }; let i=index;">
              <td>{{i+1}}</td>
              <td>{{reg.accion.accion}}</td>
              <td>{{reg.fechaAccion | date:'dd/MM/yyyy'}}</td>
              <td>{{reg.actividad}}</td>
              <td>{{reg.estado | estadoReporteDiario}}</td>
              <td>
                <div class="btn-group dropleft">
                  <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                  </button>
                  <div class="dropdown-menu">
                    <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '17'"
                      class="dropdown-item" type="button"
                      (click)="openModalRegistroEdit(registroDiarioEditTemplate,reg)"><i class="fa fa-pencil"></i>
                      Editar</button>
                    <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      class="dropdown-item" type="button"
                      (click)="openModalRegistroEdit(registroDiarioEditTemplate,reg)"><i class="fa fa-pencil"></i>
                      Editar</button>
                    <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      class="dropdown-item" type="button" (click)="openConfirmModal(confirmDialog,reg)"><i
                        class="fa fa-trash-o"></i> Anular</button>
                  </div>
                </div>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <pagination-controls id="foo" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
          responsive="true">
          ></pagination-controls>
      </div>
    </div>

  </p-fieldset>
</p-fieldset>


<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>



<ng-template #registroDiarioTemplate>
  <div class="container mt-2 mb-2">
    <div class="row">
      <div class="col-md-12">
        <h5>{{cs.registroDiario}}</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>{{cs.accion}}:*</label>
        <input [value]="registroDiario.accion.accion" pInputText disabled />
      </div>
      <div class="col-md-12">
        <label>{{cs.fechaAccion}}:*</label>
        <p-calendar [style]="{ width: '100%' }" [minDate]="minDateTrabajo" [maxDate]="maxDate"
          [inputStyle]="{ width: '100%' }" [(ngModel)]="registroDiario.fechaAccion"></p-calendar>
      </div>
      <div class="col-md-12">
        <label>{{cs.actividad}}:*</label>
        <textarea class="form-control" rows="4" [(ngModel)]="registroDiario.actividad"></textarea>
      </div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-6" *ngIf="registroDiario.accion == aRegistroTrabajo">
        <button type="button" class="btn btn-sm btn-block btn-success" (click)="guardarRegistroDiario()">
          Registrar trabajo
        </button>
      </div>

      <div class="col-md-6" *ngIf="registroDiario.accion == aSuspencion">
        <button type="button" class="btn btn-sm btn-block btn-success" (click)="guardarSuspencion()">
          Suspender trabajo
        </button>
      </div>

      <div class="col-md-6" *ngIf="registroDiario.accion == aReinicio">
        <button type="button" class="btn btn-sm btn-block btn-success" (click)="guardarReinicio()">
          Reiniciar trabajo
        </button>
      </div>

      <div class="col-md-6">
        <button type="button" class="btn btn-sm btn-block btn-danger " (click)="closeModalRegistro()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <p-toast position="top-center"></p-toast>
</ng-template>

<ng-template #registroDiarioEditTemplate>
  <div class="container mt-2 mb-2">
    <div class="row">
      <div class="col-md-12">
        <h5>{{cs.registroDiario}}</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>{{cs.accion}}:</label>
        <input [value]="registroDiarioEdit.accion.accion" pInputText disabled />
      </div>
      <div class="col-md-12">
        <label>{{cs.fechaAccion}}:</label>
        <p-calendar [style]="{ width: '100%' }" [minDate]="minDateTrabajo" [maxDate]="maxDate"
          [inputStyle]="{ width: '100%' }" [(ngModel)]="registroDiarioEdit.fechaAccion"></p-calendar>
      </div>
      <div class="col-md-12">
        <label>{{cs.actividad}}:</label>
        <textarea class="form-control" rows="4" [(ngModel)]="registroDiarioEdit.actividad"></textarea>
      </div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-6">
        <button type="button" class="btn btn-sm btn-block btn-success" (click)="editarRegistroDiario()">
          Editar
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-sm btn-block btn-danger " (click)="closeModalRegistroEdit()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <p-toast position="top-center"></p-toast>
</ng-template>


<ng-template #confirmDialog>
  <div class="container mt-2 mb-2">

    <div class="row">
      <div class="col-md-12">
        <h6> Anular registro diario </h6>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p> ¿Desea anular este registro? </p>
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-md-6 ">
        <button type="button" class="btn btn-sm btn-success btn-block" (click)="anularRegistroDiario()">Si</button>
      </div>
      <div class="col-md-6 ">
        <button type="button" class="btn btn-sm btn-danger btn-block" (click)="confirmModalRef.hide()">No</button>
      </div>
    </div>
  </div>
</ng-template>