<p-fieldset legend="Búsqueda verificación de pagos " [toggleable]="true">

  <div class="row justify-content-end">
    <div class="col-md-2">
      <button type="button" class="btn btn-sm btn-primary btn-block" (click)="getPagoList()">
        Buscar
      </button>
    </div>

  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Campo:</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="campoList" [(ngModel)]="campo" (onChange)="getPozoListByCamCodigo(campo);"
            [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Pozo:</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="pozoList" [(ngModel)]="pozo" [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Item:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="param.item" pInputText />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Estado:</b></label>
        </div>
        <div class="col-md">
          <p-dropdown></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha desde:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }" [(ngModel)]="param.fechaDesde">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha hasta:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }" [(ngModel)]="param.fechaHasta">
          </p-calendar>

        </div>
      </div>
    </div>
  </div>
</p-fieldset>
<br>

<p-fieldset legend="Datos registro de tasas" [toggleable]="true">
  <!-- <div class="row">
    <div class="col-md-12">
      <ul class="nav justify-content-end">
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-pencil"> Editar</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
          <i class="fa fa-pencil"> Editar</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-times"> Anular</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
          <i class="fa fa-times"> Anular
          </i>
        </li>
      </ul>

    </div>
  </div> -->
  <br>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Operadora</th>
            <th>Consorcio</th>
            <th>Bloque</th>
            <th>Campo</th>
            <th>Pozo</th>
            <th>Fecha pago </th>
            <th>Item</th>
            <th># Comprobante</th>
            <th># Transacción</th>
            <th># Factura</th>
            <th>Valor</th>
            <th>Documentos</th>
            <th>Anexos</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of pagoList | paginate: {id: 'foo', itemsPerPage: 10, currentPage: p }; let i=index;">
            <td>{{i+1}}</td>
            <td>{{pago.documentoOperadora.portafolio.operadora.cexApellidoPaterno}}</td>
            <td>{{pago.documentoOperadora.portafolio.consorcio.consorcio}}</td>
            <td>{{pago.documentoOperadora.portafolio.bloque.bqlNombre}}</td>
            <td>{{pago.documentoOperadora.portafolio.campo.camNombre}}</td>
            <td>{{pago.documentoOperadora.portafolio.pozo.pozNombre}}</td>
            <td>{{pago.fechaPago | date:'dd/MM/yyyy'}}</td>
            <td>{{pago.item}}</td>
            <td>{{pago.numeroComprobante}}</td>
            <td>{{pago.numeroTransaccion}}</td>
            <td>{{pago.numeroFactura}}</td>
            <td>{{pago.valor}}</td>
            <td>
              <ul>
                <li *ngIf="pago.documentoOperadora.urlOficio"
                  (click)="showPdf(pago.documentoOperadora.fileOficio.base64, pago.documentoOperadora.fileOficio.nombre)">
                  OFICIO:
                  {{pago.documentoOperadora.fileOficio.nombre}}
                </li>
                <li *ngIf="pago.documentoOperadora.urlPagos"
                  (click)="showPdf(pago.documentoOperadora.filePago.base64 ,pago.documentoOperadora.filePago.nombre)">
                  PAGO:
                  {{pago.documentoOperadora.filePago.nombre}}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngIf="pago.documentoOperadora.urlAnexo1"
                  (click)="showPdf(pago.documentoOperadora.fileAnexo1.base64, pago.documentoOperadora.fileAnexo1.nombre)">
                  ANEXO:
                  {{pago.documentoOperadora.fileAnexo1.nombre}}
                </li>
                <li *ngIf="pago.documentoOperadora.urlAnexo2"
                  (click)="showPdf(pago.documentoOperadora.fileAnexo2.base64, pago.documentoOperadora.fileAnexo2.nombre)">
                  ANEXO:
                  {{pago.documentoOperadora.fileAnexo2.nombre}}
                </li>
                <li *ngIf="pago.documentoOperadora.urlAnexo3"
                  (click)="showPdf(pago.documentoOperadora.fileAnexo3.base64, pago.documentoOperadora.fileAnexo3.nombre)">
                  ANEXO:
                  {{pago.documentoOperadora.fileAnexo3.nombre}}
                </li>
                <li *ngIf="pago.documentoOperadora.urlAnexo4"
                  (click)="showPdf(pago.documentoOperadora.fileAnexo4.base64, pago.documentoOperadora.fileAnexo4.nombre)">
                  ANEXO:
                  {{pago.documentoOperadora.fileAnexo4.nombre}}
                </li>
              </ul>
            </td>
            <td>{{pago.estado}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <pagination-controls id="foo" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
        responsive="true">
        ></pagination-controls>
    </div>
  </div>
</p-fieldset>




<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>