







			 <div class="container">

			        		<div class="panel-group">
 						 <div class="panel panel-default">

 						 	<div class="panel-heading "> <h4>Buscar Portafolio Trabajo en Pozo</h4></div>
   						 <div class="panel-body">

						<div class="form-group">
						      <div class="col-sm-6">
						  	   Numero de Portafolio: <input type="text" class="form-control"	 name="n_portafolio" value="01" >
						  	   <br>
						      </div>


						     <div class="col-sm-6">
						  	   Pozo:    <input type="text" class="form-control" name="pozo"  >
						  	      <br>
						  	 </div>


						  	 <div class="col-sm-4">
						  	   Fecha Desde <input type="date" class="form-control" name="f_desde" value="f_desde" >
  							 </div>

  							  <div class="col-sm-4">
						  	   Fecha Hasta <input type="date" class="form-control" name="f_hasta" value="f_hasta" >
  							 </div>

  							  <div class="col-sm-4">
  							  	<br>
						  	     <button type="button" class="form-control  btn btn-success"  >Buscar</button>
  	  						</div>
  							 </div>


							 <div class="col-sm-4">
							 	 <br>
						  	  Funcionario: <input type="text" class="form-control" name="funcioanrio" value="Pedro" >
  							 </div>
 							 </div>




 						</div>



   <div class="col-sm-12">
	<br>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Operadora</th>
        <th>Bloque</th>
        <th>Trabajo</th>
         <th>Numero</th>
          <th>Fecha</th>
              <th>Verificacion Fecha</th>
                  <th>Verificacion Produccion</th>
                      <th>Verificacion Tasa</th>
                          <th>Verificacion Reinyeccion</th>
                           <th>Verificacion Trabajo</th>
                            <th>Verificacion Bitacora</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Petroamazonas</td>
        <td>60</td>
        <td>Sacha</td>
         <td>Reacondicionamiento</td>
          <td></td>
          <td><input type="checkbox" class="form-control" ></td>
          <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control" ></td>
          <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control"></td>
    	    </tr>

          <tr>
        <td>Petroamazonas</td>
        <td>60</td>
        <td>Sacha</td>
         <td>Trabajo</td>
          <td>Numero</td>
          <td><input type="checkbox" class="form-control" ></td>
          <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control"></td>
    	    <td><input type="checkbox" class="form-control"></td>
    	  <td><input type="checkbox" class="form-control"></td>
    </tr>
    </tbody>
  </table>


  <div class="col-sm-5">
</div>
  <div class="col-sm-1">
          <a href="#" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-backward"></span>
        </a>
    </div>

  <div class="col-sm-1">
          <a href="#" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-forward"></span>
        </a>
    </div>


  	</div>




   							 </div>

							</div>
