<p-fieldset legend="Busqueda de portafolio trabajo en Pozo" [toggleable]="true">

  <div class="row justify-content-end">
    <div class="col-md-2">
      <button type="button" class="btn btn-sm btn-primary btn-block" (click)="buscarPortafolio()">
        Buscar
      </button>
    </div>
    <div class="col-md-2" *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
      <button type="button" class="btn btn-sm btn-success btn-block" (click)="crearPortafolio()">
        Nuevo Portafolio
      </button>
    </div>
    <div class="col-md-2" *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
      <button type="button" class="btn btn-sm btn-success btn-block" (click)="crearPortafolio()">
        Nuevo Portafolio
      </button>
    </div>
    <div class="col-md-2" *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '17'">
      <button type="button" class="btn btn-sm btn-success btn-block" (click)="crearPortafolio()">
        Nuevo Portafolio
      </button>
    </div>
  </div>

  <hr>

  <div class="row" (keyup.enter)="buscarPortafolio()">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Numero portafolio:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.numeroPortafolio" pInputText />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Funcionario:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.funcionario" pInputText />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha desde:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaDesde">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha hasta:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaHasta">
          </p-calendar>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Campo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="campoList" [(ngModel)]="campo" (onChange)="getPozoListByCamCodigo(campo);"
            [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Pozo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="pozoList" [(ngModel)]="pozo" [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>


  </div>
</p-fieldset>
<hr>

<p-fieldset legend="Resultados" [toggleable]="true">

  <div class="row">
    <div class="col-md-12">
      <ul class="nav justify-content-end">
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-pencil " aria-hidden="true"> Editar</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-calendar-check-o " aria-hidden="true"> Registrar trabajo diario</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '17'">
          <i class="fa fa-calendar-check-o " aria-hidden="true"> Registrar trabajo diario</i>
        </li>

        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
          <i class="fa fa-file-pdf-o " aria-hidden="true"> Registrar Doc Ministerio</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-file-pdf-o " aria-hidden="true"> Registrar Doc Ministerio</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
          <i class="fa fa-user " aria-hidden="true"> Informe final operadora</i>
        </li>
        <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'">
          <i class="fa fa-user " aria-hidden="true"> Informe final operadora</i>
        </li>
      </ul>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Operadora</th>
            <th>Bloque</th>
            <th>Campo</th>
            <th>Pozo</th>
            <th>Trabajo</th>
            <th>Numero</th>
            <th>Fecha Registro</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let portafolio of portafolioList| paginate: {id: 'foo', itemsPerPage: 10, currentPage: p }; let i=index;">

            <td>{{i+1}} </td>
            <td>{{portafolio.operadora.cexApellidoPaterno}} </td>
            <td>{{portafolio.bloque.bqlNombre}}</td>
            <td>{{portafolio.campo.camNombre}}</td>
            <td>{{portafolio.pozo.pozNombre}}</td>
            <td>{{portafolio.tipoTrabajo.tipoTrabajo}}</td>
            <td>{{portafolio.numeroTrabajo}}</td>
            <td>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</td>
            <td>{{portafolio.estado}}</td>
            <td class="text-center" style="width:10%;">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav">
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      (click)="editarPortafolio(portafolio)">
                      <i class="fa fa-pencil fa-2x"></i>
                    </li>
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      (click)="goToRegistroDiario(portafolio)">
                      <i class="fa fa-calendar-check-o fa-2x"></i>
                    </li>
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '17'"
                      (click)="goToRegistroDiario(portafolio)">
                      <i class="fa fa-calendar-check-o fa-2x"></i>
                    </li>

                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'"
                      (click)="goToDocumentoMinisterio(portafolio)">
                      <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                    </li>
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'"
                      (click)="goToInformeOperadora(portafolio)">
                      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    </li>
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      (click)="goToDocumentoMinisterio(portafolio)">
                      <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                    </li>
                    <li *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      (click)="goToInformeOperadora(portafolio)">
                      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    </li>
                  </ul>
                </div>
              </div>


            </td>

          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <pagination-controls id="foo" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
        responsive="true">
        ></pagination-controls>
    </div>
  </div>

</p-fieldset>

<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>