.card-header {
  padding: 1% 0 0 1%;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 30px;
}

input {
  height: 24px;
  width: 100%;
  font-size: 12px;
}

p {
  font-size: 14px;
}
label {
  font-size: 12px;
}

body .ui-dropdown .ui-dropdown-label {
  padding-right: 2em;
  height: 24px;
}

textarea {
  font-size: 12px;

}



