<p-fieldset legend="Verificar Novedades" [toggleable]="true">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                <label for="campo"><b> Numero Portafolio: </b></label>
            </div>
            <div class="col-md">
                <p class="mtop">{{verificacioNovedad.codPortafolio}}</p>
            </div>
          </div>
        </div>    
    </div>


  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Fecha Inicio de Trabajo:</b></label>
        </div>
        <div class="col-md">
            <p class="mtop">{{portafolio.fechaInicio | date:'MM-dd-yyyy'}}</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Fecha Fin de Trabajo:</b></label>
        </div>
        <div class="col-md">
            <p class="mtop">{{portafolio.fechaFin | date:'MM-dd-yyyy'}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">       
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Nro de Novedad:*</b></label>
        </div>
        <div class="col-md">
          <p class="mtop">{{verificacioNovedad.codVerfTrabajo}}</p>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">       
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Novedad:</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="novedad" [(ngModel)]="verificacioNovedad.valoracion" readonly></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">       
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Justificado:*</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="justificadoList" [(ngModel)]="verificacioNovedad.justificado" readonly></p-dropdown>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionNovedad"><b>Observacion:*</b></label>
        </div>
        <div class="col-md">
            <textarea id="verificacionNovedad"   [(ngModel)]="verificacioNovedad.observacion"  class="md-textarea form-control" rows="3"></textarea>       
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificarFechas"><b>Estado:*</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="estadolist" [(ngModel)]="verificacioNovedad.estado" readonly></p-dropdown>
        </div>
      </div>
    </div>
  </div>





<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <label for="campo"><b>Fecha de Actualización:</b></label>
      </div>
      <div class="col-md">
        <p class="mtop">{{verificacioNovedad.fecha_actualizacion | date:'MM-dd-yyyy'}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">       
      <div class="col-md-4">
        <label for="campo"><b> Usuario: </b></label>
      </div>
      <div class="col-md">
        <p>{{portafolio.funcionario.nombres}} {{portafolio.funcionario.apellidos}}</p>
      </div>
    </div>
  </div>
</div>
 


  <div class="row" >
  </div>
  <hr />
  <div class="row justify-content-end">
    <div class="col-md-4">
      <button type="button" class="button" (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>
</p-fieldset>

<br>
<p-fieldset legend="Resultados" [toggleable]="true">

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>

            <th>Nro. Verificación Fecha</th>
            <th>Estado</th>
            <th>Valoración</th>
            <th>Justificado</th>
            <th>Fecha Actualización</th>
            <th>Observacion</th>
            <th>Seguimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let verificacionNovedad of novedadList" style="font-size: 11px">

            <td>{{verificacionNovedad.codVerfTrabajo}} </td>
            <td>{{verificacionNovedad.estado}} </td>
            <td>{{verificacionNovedad.valoracion}} </td>
            <td>{{verificacionNovedad.justificado}} </td>
            <td>{{verificacionNovedad.fecha_actualizacion  | date:'MM-dd-yyyy' }} </td>
            <td>{{verificacionNovedad.observacion }} </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</p-fieldset>

<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

