<p-fieldset legend="Informe de trabajos de Operadora" [toggleable]="true">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>



  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Numero de Oficio:*</b></label>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" [(ngModel)]="informeOperadora.numeroOficio">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Numero de SGC:*</b></label>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" [(ngModel)]="informeOperadora.numeroSgc">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Anexo Documento:*</b></label>
        </div>
        <div class="col-md">
          <input type="file" accept=".pdf" [(ngModel)]="informeOperadora.anexoDocumento" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Fecha de Oficio:*</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }" [(ngModel)]="informeOperadora.fechaOficio" required></p-calendar>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Fecha ARCH:*</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }" [(ngModel)]="informeOperadora.fechaArch" required></p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Costo real (USD):*</b></label>
        </div>
        <div class="col-md">
          <input type="number" class="form-control" [(ngModel)]="informeOperadora.costo_real" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Estado:*</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="estadolist" [(ngModel)]="informeOperadora.estado" readonly></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha de Actualización:</b></label>
        </div>
        <div class="col-md">
            <p class="mtop">{{today | date:'MM-dd-yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>RIG:*</b></label>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" [(ngModel)]="informeOperadora.rig" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="InformeOperadora"><b>Anexo Informe:*</b></label>
        </div>
        <div class="col-md">
          <input type="file" accept=".pdf" [(ngModel)]="informeOperadora.anexoInforme" required>
        </div>
      </div>
    </div>
  </div>

  <div class="row" [hidden]="tst">
  </div>
  <hr />
  <div class="row justify-content-end">
    <div class="col-md-4">
      <button type="button" class="button" (click)="guardarInformeTrabajo()">
        Guardar
      </button>
    </div>
  </div>
</p-fieldset>

<br>
<p-fieldset legend="Resultados" [toggleable]="true">

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>

            <th>Nro. Informe</th>
            <th>Nro. SGC</th>
            <th>Nro Oficio</th>
            <th>Anexo Documento</th>
            <th>Fecha Oficio</th>
            <th>Fecha ARCH</th>
            <th>Costo Real</th>
            <th>Estado</th>
            <th>Fecha Actualizacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let informeOperadora of informelist" style="font-size: 11px">

            <td>{{informeOperadora.codInformeOperadora}} </td>
          <td>{{informeOperadora.numeroSgc}} </td>
            <td>{{informeOperadora.numeroOficio}} </td>
              <td><a href>{{informeOperadora.anexoDocumento}}</a> </td>
                <td>{{informeOperadora.fechaOficio | date:'dd/MM/yyyy'}} </td>
            <td>{{informeOperadora.fechaArch | date:'dd/MM/yyyy'}} </td>
              <td>{{informeOperadora.costo_real}} </td>
                <td>{{informeOperadora.estado}} </td>
                <td>{{informeOperadora.fecha_actualizacion | date:'dd/MM/yyyy'}} </td>


          </tr>

        </tbody>
      </table>
    </div>

  </div>

</p-fieldset>
<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
