<p-fieldset legend="Mantenimiento catalogo consorcio">
  <div class="row justify-content-end">
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-sm btn-success" (click)="getTipoPozoList()"><i class="fa fa-refresh"
          aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-sm btn-primary btn-block" (click)="openNewModal(new)">Nuevo</button>
    </div>

  </div>
</p-fieldset>
<br>
<p-fieldset legend="Tipo pozo" [toggleable]="true">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Fecha registro</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of consorcioList| paginate: { id: 'paginator1',itemsPerPage: page_size2, currentPage: page_number2 , totalItems: total}; let i=index;">
            <td>{{c.codigoConsorcio}}</td>
            <td>{{c.consorcio}}</td>
            <td>{{c.fechaRegistro | date:'dd/MM/yyyy'}}</td>
            <td>{{c.estado | estadoCAT}}</td>
            <td *ngIf="c.estado == 1">
              <span class="badge badge-primary" (click)="openEditModal(edit, c)">Editar</span>
              <span class="badge badge-danger" (click)="anular(c)">Anular</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <pagination-controls id="paginator1" (pageChange)="page_number2 = $event" previousLabel="Anterior"
        nextLabel="Siguiente" responsive="true">
        ></pagination-controls>
    </div>
  </div>
</p-fieldset>


<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>


<ng-template #new>
  <div class="container mb-3 mt-3">
    <p-fieldset legend="Asignación de campos">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"><label for="funcionario"><b>Consorcio:* </b></label></div>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="consorcio.consorcio" pInputText>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-end mt-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-block btn-success" (click)="save()">
            Guardar
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-block btn-danger " (click)="closeNewModal()">
            Cancelar
          </button>
        </div>
      </div>
    </p-fieldset>
  </div>
</ng-template>


<ng-template #edit>
  <div class="container mb-3 mt-3">
    <p-fieldset legend="Asignación de campos">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"><label for="funcionario"><b>Consorcio:* </b></label></div>
            <div class="col-md-8">
              <input type="text" [(ngModel)]="consorcioEdit.consorcio" pInputText>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-end mt-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-block btn-success" (click)="update()">
            Guardar
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-block btn-danger " (click)="closeEditModal()">
            Cancelar
          </button>
        </div>
      </div>
    </p-fieldset>
  </div>
</ng-template>