<p-fieldset legend="Busqueda de portafolio trabajo para Informes de Verificación" [toggleable]="true">


  <hr>

  <div class="row" (keyup.enter)="buscarPortafolio()">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Numero portafolio:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.numeroPortafolio" pInputText />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Funcionario:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.funcionario" pInputText />
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha desde:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaDesde">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha hasta:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaHasta">
          </p-calendar>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Campo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="campoList" [(ngModel)]="campo" (onChange)="getPozoListByCamCodigo(campo);"
            [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Pozo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="pozoList" [(ngModel)]="pozo" [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>


  </div>
</p-fieldset>



<div class="row justify-content-end">
    <div class="col-md-4"> 
        <br>
      <button type="button" class="btn btn-sm btn-info btn-block" (click)="buscarPortafolio()">
        Buscar
      </button>
    </div>
  </div>

<br>
<p-fieldset legend="Resultados" [toggleable]="true">
  <hr>

 
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
        
            <th>Portafolio</th>
            <th>Operadora</th>
            <th>Bloque</th>
            <th>Campo</th>
            <th>Pozo</th>
            <th>Trabajo</th>
            <th>Tipo Pozo</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>


        <tbody *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21' || usuario && usuario.perfil && usuario.perfil.codigoPerfil == '16'">
          <tr
            *ngFor="let portafolio of portafolioList| paginate: { id: 'paginator',itemsPerPage: page_size, currentPage: page_number , totalItems: total}; let i=index;">
         
            <td>{{portafolio.codigoPortafolio}}</td>
            <td>{{portafolio.operadora.cexApellidoPaterno}} </td>
            <td>{{portafolio.bloque.bqlNombre}}</td>
            <td>{{portafolio.campo.camNombre}}</td>
            <td>{{portafolio.pozo.pozNombre}}</td>
            <td>{{portafolio.tipoTrabajo.tipoTrabajo}}</td>
            <td>{{portafolio.codigoTipoPozo| tipoPozoPipe}}</td>
            <td>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</td>
            <td>{{portafolio.estado | estadoPortafolio}}</td>
            <td class="text-center" style="width:10%;">
              <div class="btn-group dropleft" *ngIf="portafolio.estado!=0">
                  <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog"></i>
                </button>

                <div class="dropdown-menu">
                    
                  
                  <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'" 
                    (click)="informeOperadora(portafolio)" class="dropdown-item" type="button"><i
                      class="fa fa-pencil"></i> Informe de Operadora</button>

                      <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                    (click)="verificarFechas(portafolio)" class="dropdown-item" type="button"><i
                      class="fa fa-calendar-o"></i> Verificar Fechas</button>


                      <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                      (click)="verificarProduccion(portafolio)" class="dropdown-item" type="button"><i
                        class="fa fa-area-chart"></i> Verificar Producción</button>
                
                        
                      <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                    (click)="verificarNovedad(portafolio);" class="dropdown-item" type="button"><i
                      class="fa fa-newspaper-o"></i> Verificar Novedades</button>


                     
                      <button *ngIf="usuario && usuario.perfil && usuario.perfil.codigoPerfil == '21'"
                    (click)="conclusion(portafolio)" class="dropdown-item" type="button"><i
                      class="fa fa-comments "></i> Conclusiones</button>

            
            </div>
          </div>
            </td>

          </tr>
        </tbody>








      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <pagination-controls id="paginator" (pageChange)="page_number = $event" previousLabel="Anterior"
        nextLabel="Siguiente" responsive="true">
        ></pagination-controls>
    </div>
  </div>
</p-fieldset>



<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>