<p-fieldset legend="Busqueda de portafolio trabajo en Bitacora" [toggleable]="true">

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Numero portafolio:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.numeroPortafolio" pInputText />
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Campo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="campoList" [(ngModel)]="campo" (onChange)="cargarPozosByCamCodigo(campo);"
            [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Pozo:*</b></label>
        </div>
        <div class="col-md">
          <p-dropdown [options]="pozoList" [(ngModel)]="pozo" [filter]="true">
          </p-dropdown>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha desde:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaDesde">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Fecha hasta:</b></label>
        </div>
        <div class="col-md">
          <p-calendar [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
            [(ngModel)]="busquedaParametros.fechaHasta">
          </p-calendar>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="campo"><b>Funcionario:</b></label>
        </div>
        <div class="col-md">
          <input [(ngModel)]="busquedaParametros.funcionario" pInputText />
        </div>
      </div>
    </div>

  </div>
  <div class="row justify-content-end">
    <div class="col-md-4">
      <button type="button" class="button" (click)="buscarPortafolio()">
        Buscar
      </button>
    </div>
  </div>

</p-fieldset>
<hr>

<p-fieldset legend="Resultados" [toggleable]="true">

  <div class="row">
    <div class="col-md-12">
      <ul class="nav justify-content-end">
        <li>
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Crear Informe Operadora</i>
        </li>
        <li>
          <i class="fa fa-calendar-o" aria-hidden="true"> Verificar Fechas</i>
        </li>
        <li>
          <i class="fa fa-newspaper-o" aria-hidden="true"> Verificar Novedad</i>
        </li>
        <li>
          <i class="fa fa-briefcase" aria-hidden="true"> Verificar Producción</i>
        </li>
        <li>
          <i class="fa fa-superpowers" aria-hidden="true"> Verificar Tasa</i>
        </li>

        <li>
          <i class="fa fa-info" aria-hidden="true"> Verificar Inyector</i>
        </li>

        <li>
          <i class=" fa fa-cogs" aria-hidden="true"> Verificar Reinyector</i>
        </li>

        <li>
          <i class=" fa fa-text-height" aria-hidden="true"> Verificar Trabajo</i>
        </li>

      </ul>
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Operadora</th>
            <th>Bloque</th>
            <th>Campo</th>
            <th>Pozo</th>
            <th>Trabajo</th>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let portafolio of portafolioList| paginate: { id: 'paginator',itemsPerPage: page_size, currentPage: page_number , totalItems: total}; let i=index;">
            <td>{{i+1}} </td>
            <td>{{portafolio.operadora.cexApellidoPaterno}} </td>
            <td>{{portafolio.bloque.bqlNombre}}</td>
            <td>{{portafolio.campo.camNombre}}</td>
            <td>{{portafolio.pozo.pozNombre}}</td>
            <td>{{portafolio.tipoTrabajo.tipoTrabajo}}</td>
            <td>{{portafolio.numeroTrabajo}}</td>
            <td>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</td>
            <td class="text-center" style="width:10%;">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav">

                    <li (click)="informeOperadora(portafolio);">
                      <i class="fa fa-pencil fa-2x"></i>
                    </li>

                    <li (click)="verificarFechas(portafolio);">
                      <i class="fa fa-calendar-o fa-2x"></i>
                    </li>

                    <li (click)="verificarNovedad(portafolio);">
                      <i class="fa fa-newspaper-o fa-2x"></i>
                    </li>
                    <li (click)="verificarProduccion(portafolio);">
                      <i class="fa fa-briefcase fa-2x"></i>
                    </li>

                    <li (click)="verificarTasa(portafolio);">
                      <i class="fa fa-superpowers fa-2x"></i>
                    </li>

                    <li (click)="verificarInyector(portafolio);">
                      <i class="fa fa-info fa-2x"></i>
                    </li>

                    <li (click)="verificarReinyector(portafolio);">
                      <i class=" fa fa-cogs fa-2x"></i>
                    </li>

                    <li (click)="verificarTrabajo(portafolio)">
                      <i class="fa fa-text-height  fa-2x"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </td>

          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <pagination-controls id="paginator" (pageChange)="page_number = $event" previousLabel="Anterior"
        nextLabel="Siguiente" responsive="true">
        ></pagination-controls>
    </div>
  </div>
</p-fieldset>

<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>