<h1>Verificacion de Fechas</h1>


						    <div class="container">

			        		<div class="panel-group">
 						 <div class="panel panel-default">

 						 	<div class="panel-heading "> <h4>Verificacion de Fechas</h4></div>
   						 <div class="panel-body">

						<div class="form-group">
						      <div class="col-sm-6">
						  	   Fecha Inicio del Trabjo: <input type="text" class="form-control"	 name="inicio" value="01" readonly>
						  	   <br>
						      </div>


						     <div class="col-sm-6">
						  	   Fecha Fin del Trabajo:    <input type="text" class="form-control" name="fin" readonly >
						  	      <br>
						  	 </div>


						  	 <div class="col-sm-6">
						  	   Cumple <input type="text" class="form-control" name="f_prese" value="SI" readonly>
  							 </div>

							 <div class="col-sm-6">
						  	   Fecha de Presentacion Informe Operadora: <input type="date" class="form-control" name="f_prese" value="10/05/2019" readonly>
  							 </div>

  							 <div class="col-sm-6">
  	 						  <br>

						  	   Justificado:


							</div>



							<div class="col-sm-12">
								<br>
						  	   Observacion: <textarea type="text-area" class="form-control" name="f_prese" >	</textarea>
  							 </div>


  							 <div class="col-sm-6">

  							  <br>
  			    			  <p>Estado:

								</p>
  	   						</div>
  	   						<div class="col-sm-12">
  	   						 <div class="col-sm-4">
						  	   Fecha de ctualizacion <input type="text" class="form-control" name="f_prese" value="SI" readonly>
  							 </div>

							 <div class="col-sm-4">
						  	  Usuario: <input type="date" class="form-control" name="usua" value="Pedro" readonly>
  							 </div>
 							 </div>


 							  <div class="col-sm-4">
 							  </div>

							 <div class="col-sm-2">
							 	<br>
  	  	   	                  <button type="button" class="form-control  btn btn-success"  >Guardar</button>
  	  						</div>
  	  		

 						</div>



   <div class="col-sm-12">
	<br>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Nro. Actualizacion</th>
        <th>Cumple</th>
        <th>Justificado</th>
         <th>Estado</th>
          <th>Fecha Actualizacion</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>NO</td>
        <td>SI</td>
         <td>Reasignado</td>
          <td>11/05/2019</td>

    </tbody>
  </table>
  	</div>




   							 </div>

							</div>
							</div>
