<p-fieldset legend="Verificar Fechas" [toggleable]="true">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                <label for="campo"><b> Numero Portafolio: </b></label>
            </div>
            <div class="col-md">
                <p class="mtop">{{verificarFechas.codPortafolio}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="verificacion Fechas"><b>Valoración:</b></label>
              </div>
              <div class="col-md">
                  <p class="mtop">{{verificarFechas.visualizar_valoraciom}}</p>
              </div>
            </div>
          </div>      
    </div>


  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionFechas"><b>Fecha Inicio de Trabajo:</b></label>
        </div>
        <div class="col-md">
            <p class="mtop">{{portafolio.fechaInicio | date:'MM-dd-yyyy'}}</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionFechas"><b>Fecha Fin de Trabajo:</b></label>
        </div>
        <div class="col-md">
            <p class="mtop">{{portafolio.fechaFin | date:'MM-dd-yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionFechas"><b>Fecha Presentacion Informe de Operadora:*</b></label>
        </div>
        <div class="col-md">
            <p class="label">{{verificarFechas.fechaPresentacion | date:'MM-dd-yyyy'}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">       
        <div class="col-md-4">
          <label for="verificacionFechas"><b>Justificado:*</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="justificadoList" [(ngModel)]="verificarFechas.justificado" readonly></p-dropdown>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificacionFechas"><b>Observacion:*</b></label>
        </div>
        <div class="col-md">
            <textarea id="verificacionFechas"   [(ngModel)]="verificarFechas.observacion"  class="md-textarea form-control" rows="3"></textarea>       
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <label for="verificarFechas"><b>Estado:*</b></label>
        </div>
        <div class="col-md">
        <p-dropdown [options]="estadolist" [(ngModel)]="verificarFechas.estado" readonly></p-dropdown>
        </div>
      </div>
    </div>
  </div>





<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <label for="campo"><b>Fecha de Actualización:</b></label>
      </div>
      <div class="col-md">
        <p class="mtop">{{verificarFechas.fecha_actualizacion | date:'MM-dd-yyyy'}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">       
      <div class="col-md-4">
        <label for="campo"><b> Usuario: </b></label>
      </div>
      <div class="col-md">
        <p>{{portafolio.funcionario.nombres}} {{portafolio.funcionario.apellidos}}</p>
      </div>
    </div>
  </div>
</div>
 


  <div class="row" >
  </div>
  <hr />
  <div class="row justify-content-end">
    <div class="col-md-4">
      <button type="button" class="button" (click)="guardarVerificarFechas()">
        Guardar
      </button>
    </div>
  </div>
</p-fieldset>

<br>
<p-fieldset legend="Resultados" [toggleable]="true">

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>

            <th>Nro. Verificación Fecha</th>
            <th>Estado</th>
            <th>Valoración</th>
            <th>Justificado</th>
            <th>Fecha Actualización</th>
            <th>Observacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let verificacionFechas of fechasList" style="font-size: 11px">

            <td>{{verificacionFechas.codVerificacionFechas}} </td>
            <td>{{verificacionFechas.estado | estadoBitacora}} </td>
            <td>{{verificacionFechas.valoracion | valoracionBitacora }} </td>
            <td>{{verificacionFechas.justificado  | JustificadoBitacora}} </td>
            <td>{{verificacionFechas.fecha_actualizacion  | date:'MM-dd-yyyy' }} </td>
            <td>{{verificacionFechas.observacion }} </td>
            

          </tr>

        </tbody>
      </table>
    </div>

  </div>

</p-fieldset>

<ng-template #customLoadingTemplate> </ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
