<p-fieldset legend="Registro documentos habilitantes ministerio">
  <div class="row justify-content-end">
    <div class="col-md-3">
      <button type="button" class="btn btn-sm btn-primary btn-block"
        (click)="openModalDocumeto(documentoTemplate)">{{cs.adjuntarDocumento}}</button>
    </div>

  </div>
  <hr>
  <p-fieldset legend="Datos del portafolio" [toggleable]="true">
    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.numeroPortafolio}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.codigoPortafolio}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaRegistro}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaRegistro | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.funcionario}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.funcionario.nombres}} {{portafolio.funcionario.apellidos}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.pozo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.pozo.pozNombre}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.trabajo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.tipoTrabajo.tipoTrabajo}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="portafolio.fechaTrabajoSinTorre">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaTST}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaTrabajoSinTorre | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.numeroTrabajo}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.numeroTrabajo}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <p><b>{{cs.fechaInicio}}:</b></p>
          </div>
          <div class="col-md-8">
            <p>{{portafolio.fechaInicio | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>

    </div>
  </p-fieldset>
  <br>

  <p-fieldset legend="Documentos ministerio" [toggleable]="true">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nro SGC</th>
              <th>Nro Oficio</th>
              <th>Anexos</th>
              <th>Fecha oficio</th>
              <th>Asunto</th>
              <th>Resolución</th>
              <th>Objetivo</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let doc of documentoMinisterioList| paginate: {id: 'foo', itemsPerPage: 10, currentPage: p }; let i=index;">

              <td>{{i+1}} </td>
              <td>{{doc.numeroSGC}} </td>
              <td>{{doc.numeroOficio}} </td>
              <td>
                <ul>
                  <li *ngIf="doc.urlOficio" (click)="showPdf(doc.fileOficio.base64,doc.fileOficio.nombre)">OFICIO:
                    {{doc.fileOficio.nombre}}
                  </li>
                  <li *ngIf="doc.urlAnexo1" (click)="showPdf(doc.fileAnexo1.base64, doc.fileAnexo1.nombre)">ANEXO:
                    {{doc.fileAnexo1.nombre}}
                  </li>
                </ul>
              </td>
              <td>{{doc.fechaOficio  | date:'dd/MM/yyyy'}} </td>
              <td>{{doc.asunto.asunto}} </td>
              <td>{{doc.numeroResolucion}} </td>
              <td>{{doc.objetivo}} </td>
              <td>{{doc.estado}} </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="row" *ngIf="documentoMinisterioList.length > 9">
      <div class="col-md-12 text-center">
        <pagination-controls id="foo" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
          responsive="true">
          ></pagination-controls>
      </div>
    </div>


  </p-fieldset>



  <ng-template #documentoTemplate>
    <div class="container mt-3 mb-3">

      <div class="row text-center">
        <div class="col-md-12">
          <h4>Documentos habilitantes minsterio</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro. SGC:</b></label>
            </div>
            <div class="col-md-8">
              <input [(ngModel)]="documentoMinisterio.numeroSGC" pInputText numeros-doc />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label><b>Nro. Oficio:</b></label>
            </div>
            <div class="col-md-8">
              <input [(ngModel)]="documentoMinisterio.numeroOficio" pInputText numeros-doc />
            </div>
          </div>
        </div>
      </div>

      <!-- Anexos -->

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Dir. Oficio adjunto:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeDocNroOficio($event);" />
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Adjuntar anexo:</b></label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".pdf" (change)="onChangeAnexo1($event);" required>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-sm "> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Fecha Oficio:</b></label>
            </div>
            <div class="col-md-8">
              <p-calendar [style]="{ width: '100%' }" [minDate]="minDate" [maxDate]="maxDate"
                [inputStyle]="{ width: '100%' }" [(ngModel)]="documentoMinisterio.fechaOficio"></p-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Asunto:</b></label>
            </div>
            <div class="col-md">
              <p-dropdown [options]="asuntoList" [(ngModel)]="asunto" [filter]="true"
                (onChange)="descativarNresolucion(asunto);"> </p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Nro. Resolucion:</b></label>
            </div>
            <div class="col-md">
              <input [(ngModel)]="documentoMinisterio.numeroResolucion" pInputText [disabled]="nResol" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="campo"><b>Objetivo:</b></label>
            </div>
            <div class="col-md">
              <input [(ngModel)]="documentoMinisterio.objetivo" pInputText />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-primary btn-block" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-sm btn-danger btn-block"
            (click)="closeModalDocumento()">Cancelar</button>
        </div>

      </div>

    </div>
  </ng-template>






  <ng-template #customLoadingTemplate> </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>