/* You can add global styles to this file, and also import other style files */
body .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    height: 1.5rem;
    -moz-appearance: none;
    appearance: none;
}