:root {
  --sitp-color: coral;
  --sep-botton: gray;
  --side-body: #f4f4f4;
  --side-header: #e0e0e0;
}

*:focus {
  outline: none;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid var(--sitp-color);
  background-color: var(--sitp-color);
  color: #ffffff;
  font-size: 10px;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
  outline: 0 none;
  border: 1px solid var(--sitp-color);
  background-color: var(--sitp-color);
  color: #ffffff;
  font-size: 10px;
}

body .ui-panelmenu .ui-panelmenu-content {
  padding: 0;
  background-color: #f4f4f4;
  border: 0;
  margin-top: 0;
  position: static;
  border-top: 0 none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .ui-panelmenu .ui-panelmenu-header > a {
  font-size: 10px;
  font-style: normal;
  border: none;
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
  font-size: 12px;
}
/**
 *Estilo dropdown 
 */
body .ui-dropdown .ui-dropdown-label {
  height: 24px;
  width: 100%;
  padding:0 0 0 0.5rem;
}

body .ui-dropdown {
  width: 100%;
}

body .ui-inputtext {
  font-size: 12px;
  height: 24px;
}

body .ui-fieldset {
  border: 0;
}
.ui-fieldset,
.ui-fieldset .ui-fieldset-legend {
  padding: 0;
}
.ui-fieldset .ui-state-default {
  background: none;
}

body .ui-fieldset .ui-fieldset-legend a {
  padding: 0;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
body .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend a:hover {
  border: 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  
}
